window {
  margin: 0px;
  border: 1px solid #7a8478;
  background-color: #1e2326;
  border-radius: 6px;
}

#input {
  margin: 5px;
  border: none;
  color: #f0e6cf;
  background-color: #272e33;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #1e2326;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #1e2326;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #ede1c7;
}

#entry {
  background-color: #1e2326;
}

#entry:selected {
  background-color: #272e33e6;
}
